<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.pookjw.Silicon.Helper</string>
	<key>BundleProgram</key>
	<string>Contents/Resources/SiliconHelper</string>
	<key>StandardOutPath</key>
	<string>/var/log/job.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/job.log</string>
	<key>Debug</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>com.pookjw.Silicon.Helper</key>
		<true/>
	</dict>
</dict>
</plist>
