<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.pookjw.SiliconHelper-Launchd</string>
	<key>BundleProgram</key>
	<string>Contents/Resources/SiliconHelper</string>
	<key>MachServices</key>
	<dict>
		<key>com.pookjw.SiliconHelper-Launchd</key>
		<true/>
	</dict>
</dict>
</plist>
